# Node.js
node_modules/
npm-debug.log
*.pid
*.lock

# Build
build/
dist/
*.tsbuildinfo

# Dependency directories
jspm_packages/
bower_components/

# TypeScript
*.ts

# WebStorm project files
.idea/

# Logs
logs/
*.log

# macOS
.DS_Store

# Windows
Thumbs.db